<footer class="footer">
	<div class="container">
		<div class="row">

			<div class="col-sm-4">
					<ul>
						<a href=""><li><i class="fa fa-linkedin"></i> LinkedIn</li></a>
						<a href=""><li><i class="fa fa-twitter"></i> Twitter</li></a>
						<a href=""><li><i class="fa fa-facebook"></i> Facebook</li></a>
						<a href=""><li><i class="fa fa-google"></i> Google+</li></a>
					</ul>
			</div>

			<div class="col-sm-4">
					<p>1111 E River Terrace Pl St<br>
					Yangon, Myanmar</p>
					<p>555-555-1234</p>
					<p>mybiz@biz.biz</p>
			</div>

			<div class="col-sm-4">
					<ul>
						<a href="/"><li>Home</li></a>
						<a href="/about"><li>About</li></a>
						<a href="/services"><li>Services</li></a>
						<a href="/#contact"><li>Contact</li></a>
						<a href="/disclosure"><li>Disclosure</li></a>
					</ul>
			</div>

		</div>

		<div class="row">
			<div class="col-sm-8 text-left">
				<p>&copy; {{ site.time | date: '%Y' }} MY BIZ LLC</p>
			</div>

			<div class="col-sm-4 text-right">
				<p>Design by <a href="https://www.buildingblocklabs.com/" target="_blank">BuildingBlockLabs</a></p>
			</div>
		</div>
	</div>
</footer>