<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <ul>
          <li><a href=""><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href=""><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href=""><i class="fa fa-google"></i> Google+</a></li>
        </ul>
      </div>
      <div class="col-sm-4 text-center">
        <p>1111 E River Terrace Pl St<br/>
        Yangon, Myanmar</p>
        <p>555-555-1234</p>
        <p>mybiz@biz.biz</p>
      </div>
      <div class="col-sm-4 text-center">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/#contact">Contact</a></li>
          <li><a href="/disclosure">Disclosure</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div class="row" id="copyright-info">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4 text-left">
    <p>&copy; {{ site.time | date: '%Y' }} MY BIZ LLC</p>
  </div>
  <div class="col-sm-4 text-right">
    <p>Design by <a href="https://www.buildingblocklabs.com/" target="_blank">BuildingBlockLabs</a></p>
  </div>
  <div class="col-sm-2">
  </div>
</div>
