<footer class="container">

	<div class="row">

		<div id="logo1" class="col-sm-3">
		<p>Here's a logo for your footer.</p>
		</div>

		<div id="logo2" class="col-sm-3">
		<p>And maybe another?</p>
		</div>

		<div id="logo3" class="col-sm-3">
		<p>How's about another logo!</p>
		</div>

		<div id="logo4" class="col-sm-3">
		<p>OK this is the last logo.</p>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-12">
			<p>Here's my social media</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p>1111 E River Terrace Place Street, Yangon, Myanmar</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p>And maybe some legal jargon here? Could be a fun way to end a page.</p>
		</div>
	</div>

</footer>