<header>
  <nav class="navbar navbar-default">
      <div>
        <a href="/#">
          <img src="/assets/images/logo/Money-By-Pounds-6.jpg" alt="Money-By-Pounds-Logo" class="img-responsive" id="logo">
        </a>
      </div>

      <div id="MBPnavbar">
        <ul class="nav navbar-nav">
          <li><a data-toggle="collapse" data-target=".navbar-collapse"  href="/#home">Home</a></li>

          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/about">About</a></li>

          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/services">Services</a></li>

          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/#contact">Contact</a></li>
        </ul>
      </div>
  </nav>
</header>