<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Can use this tag if wanting to prevent mobile user zoom 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logo/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/images/logo/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/logo/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/images/logo/favicons/manifest.json">
  <link rel="mask-icon" href="/assets/images/logo/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/logo/favicons/favicon.ico">
  <meta name="msapplication-config" content="/assets/images/logo/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- Bootstrap -->
  <link href="/assets/css/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet" >
  <link href="/assets/css/vendor/font-awesome.min.css" rel="stylesheet" >
  <title>{{ page.title }}</title>
</head>