<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          aria-expanded="false" data-target="#FTNavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/#">
          <img src="/assets/images/logo/android-chrome-192x192.png" alt="Money-By-Pounds-Logo" class="img-responsive logo" id="logo">
        </a>

      </div>

      <div class="collapse navbar-collapse" id="FTNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="collapse" data-target=".navbar-collapse"  href="/#home">Home</a></li>

          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/#approach">Approach</a></li>

          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/#about">About</a></li>

          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/services">Services</a></li>

          <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/blog">Blog</a></li>

          <li><a data-toggle="collapse" data-target=".navbar-collapse"
              href="/#scheduling">Let's Chat</a></li>
        </ul>
      </div><!-- navbar-header -->

    </div><!-- /.container-->
  </nav>
</header>