button {
  background-color: #0093dc;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 0;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 200;
  border: 0px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

button:hover {
  background: #111;
}
