.footer {
  background-color: white;
  padding-top: 2%;
}

footer {
  p {
    color: #333333;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

#copyright-info {
  background-color: black;
  width: 100%;
  margin: 0;
  p {
    color: gray;
  }
}