@import "variables";

.service-name {
  color: $logo-light-blue;
}

@media(max-width: 767px)  {
  .service-cta a {
    font-size:  inherit;
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .service-cta a {
    font-size:  inherit;
  }
}
