---
---

// include any @import "filename"; here

// Currently using this file for any needed overrides to Bootstrap

body {
	font-size: 1.5em;
}

.outline {
	outline: 1px solid red;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-toggle {
	background-color: #ddd;
	padding: 10px 45%;
	display: none;
	float: none;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

body {
	padding-top: 30%;
}

@media (max-width: 768px) {
	.navbar-toggle {
  	display: block;
	}

	.navbar-nav li {
    float: left;
    width: 50%;
	}

	body {
		padding-top: 50%;
	}
}

