---
---

// include any @import "filename"; here

// Currently using this file for any needed overrides to Bootstrap

.outline {
	outline: 1px solid red;
}

#BIZnavbar {
	margin-top: 5px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-toggle {
	background-color: #ddd;
	padding: 10px 45%;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

#logo {
	margin-top: 2%;
	margin-bottom: 1%;
}

@media (min-width: 768px) {
	.navbar-toggle {
  	display: none;
	}
}

