$white: #FFFFFF;
$light: #efefef;
$medium: #e7e7e7;

body {
	font-size: 2em;
}

section {
	min-height: 300px;
	padding: 2em;
}

#profile-pic {
	margin: 20px 0;
}

#home {
	padding: 0;
}

#intro {
	background-color: $light;
}

#about {
	background-color: $white;
}

#highlights {
	background-color: $light;
}

#services {
	background-color: $medium;
}

#contact {
	background-color: $light;
}

#certifications {
	background-color: $white;
}

@media (max-width: 768px) {
	#home {
		min-height: 100px;
	}
}